<!-- <app-header></app-header> -->
<!-- <div> -->
  <!-- 
  <h1>Hello</h1>
  {{title}}
  <h2>{{name}}</h2>
  <h2>{{getShortName()}}</h2>
  <h2>Name : {{getName()}}</h2>
  <h2>{{object.name}} : {{object.age}}</h2>
  <h2>{{arr}}</h2>
  <h2>1:{{arr[0]}}</h2>
  <h2>2:{{arr[1]}}</h2>
  <h2>3:{{arr[2]}}</h2>
  {{a+b}}
  <h3>{{siteUrl}}</h3> 
  -->

  <!-- 
  <app-userlist></app-userlist>
  <app-clickevent></app-clickevent>
  <app-propertybinding></app-propertybinding>
  <app-conditions></app-conditions> 
  -->

  <!-- <app-switchcase></app-switchcase> -->

  <!-- <app-forloop></app-forloop> -->

  <!-- <app-simpleform></app-simpleform> -->

  <!-- <app-stylebinding></app-stylebinding> -->
  <!-- <app-bootstapng></app-bootstapng> -->
  <!-- <app-materialui></app-materialui> -->
  
  <!-- <app-parentcomponent></app-parentcomponent> -->
  
<!-- </div> -->
<!-- <app-footer></app-footer> -->
<!-- <app-csstestcomponent></app-csstestcomponent> -->

<!-- <app-pipeapp></app-pipeapp> -->


<!-- For Routing -->
<!-- <h1>Routing page</h1>
<a routerLink="user">USER</a>
<br><br>
<a routerLink="admin">ADMIN</a>
<br><br>
<a routerLink="about">ABOUT</a>
<router-outlet></router-outlet> -->

<!-- <app-directive-components></app-directive-components> -->
<!-- <app-service-call-companent></app-service-call-companent> -->

<!-- <h3>Admin Page</h3>
<ul>
  <li><a routerLink="admin/login">Log In</a></li>
  <li><a routerLink="admin/signup">Sign UP</a></li>
</ul>

<h3>User Page</h3>
<ul>
  <li><a routerLink="users/login">Log In</a></li>
  <li><a routerLink="users/signup">Sign UP</a></li>
</ul>
<router-outlet></router-outlet> -->


<h3>Admin Page</h3>
<ul>
  <li><a routerLink="lazyloadsadmin/adminView">Admin View</a></li>
  <li><a routerLink="admin/signup">Sign UP</a></li>
</ul>

<router-outlet></router-outlet>